@page "/eventdetails/{eventName}/{presentedBy}"
@inject EventEase.Services.EventService EventService
@using EventEase.Models

<h3>Event Details</h3>

@if (eventDetails != null)
{
    <div>
        <h4>@eventDetails.Name</h4>
        <p>Date: @eventDetails.Date.ToShortDateString()</p>
        <p>Location: @eventDetails.Location</p>
        <p>Description: @eventDetails.Description</p>
        <p>Presented By: @eventDetails.PresentedBy</p>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public required string eventName { get; set; }

    [Parameter]
    public required string presentedBy { get; set; }

    private Event? eventDetails;

    protected override void OnInitialized()
    {
        eventDetails = EventService.GetEvents().FirstOrDefault(e => e.Name == eventName && e.PresentedBy == presentedBy);
    }
}
